body, html {
    height: 100%;
}

.wrapper {
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* PARALLAX */

.parallax {
    /* The image used */
    background-image: url("images/twigsCU.png");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("images/pLax.jpg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("images/STL.jpg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("images/egg.jpeg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxText {
	background-color: ghostWhite;
	padding: 40px;
	text-align: center;
}


.text-block {
    position: absolute;
    top: 20px;
    right: 400px;
    background-color: linen;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}


/*LAYOUT*/

header {
	clear: both;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

img {
	width: 100%;
	height: auto;
	text-align: center;
}


p {
	font-size: 14px;
	text-align: left;
	font-family: 'Roboto', sans-serif;

}
h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	margin-top: 0px;
}

/*  SECTIONS  */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

#headContainer {
	width: 100%;
	border-bottom: 0.5px solid black;
}

#mainContainer {
	width: 100%;
	margin: 0px;
}

#mainContent {
	clear: both;
	max-width: 1900 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

#secondContainer {
	border-top: 0.5px solid black;
	width: 100%;
	margin: 0px;
}

#secondContent {
	clear: both;
	max-width: 1900 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

footer {
	clear: both;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0px;
}

#footContainer {
	width: 100%;
	border-top: 0.5px solid black;
}

#footContainer p {
	font-size: 10px;
}

/*  COLUMN SETUP  */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.push {
    visibility: hidden;
}

/*  RESPONSIVE GRID FOR MOBILE  */

@media only screen and (max-width: 480px)
{
	.push {
	    display: none;
	}
}

/*  GROUPING  */

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

